# 1. Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).

In [1]:
import pandas as pd
import numpy as np
import math

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_Paris', 'Brussels_londOn'], 'FlightNumber': 
                   [5, np.nan, 10065, np.nan, 10085], 'RecentDelays': [[23, 47], [], [24, 43, 87], 
                [13], [67, 32]], 'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                '12. Air France', '"Swiss Air"']})
print ('\n')
print ('Before ')
print('*'*70)
print(df)
print ('\n')


for ind in df.index: 
    if math.isnan(df.loc[ind,'FlightNumber']): #look for null values under column "FlightNumber"
        df.loc[ind,'FlightNumber']=df.loc[ind-1,'FlightNumber']+10.0  #replacing the null values 

print ('\n')
df['FlightNumber']=df['FlightNumber'].astype('int') #changing the datatype

print(df.dtypes)   #shows the df has been converted into int 
print ('\n')
print ('After Change of data type')
print('*'*70)
print(df)        
print ('\n')

Before
**********************************************************************
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris           5.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_Paris           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"




From_To         object
FlightNumber     int32
RecentDelays    object
Airline         object
dtype: object


After Change of data type
**********************************************************************
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris             5      [23, 47]               KLM(!)
1      MAdrid_miLAN            15            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_Paris         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

# 2. The From_To column would be better as two separate columns! Split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

In [2]:
df_temp=df["From_To"].str.split('_',1,expand=True) #temp dataframe with a column split into 2 seperated by "_"
df_temp.columns=['From','To'] #renaming the split dataframes with new names
print ('\n')
print(df_temp)
print('\n')

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      Paris
4  Brussels     londOn

# 3. Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

In [3]:
df_temp['From']= df_temp['From'].str.capitalize() #capitalizing the First letters
df_temp['To']= df_temp['To'].str.capitalize()
print ('\n')
print(df_temp)
print('\n')

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

# 4.  Delete the From_To column from df and attach the temporary DataFrame from the previous questions

In [4]:
print ('\n')
print("Deleting the columns in the Dataframe")
print('*'*70)
df.drop('From_To',axis=1,inplace=True) #deleting the From_To column
print(df)
df['From'] = df_temp['From']
df['To'] = df_temp['To']
print ('\n')
print ('The updated dataframe')
print('*'*70)
print(df)

Deleting the columns in the Dataframe
**********************************************************************
   FlightNumber  RecentDelays              Airline
0             5      [23, 47]               KLM(!)
1            15            []    <Air France> (12)
2         10065  [24, 43, 87]  (British Airways. )
3         10075          [13]       12. Air France
4         10085      [67, 32]          "Swiss Air"


The updated dataframe
**********************************************************************
   FlightNumber  RecentDelays              Airline      From         To
0             5      [23, 47]               KLM(!)    London      Paris
1            15            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

# 5.  In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN. Expand the Series of lists into a DataFrame named delays, rename the columns delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

In [5]:
df_delays = pd.DataFrame(df['RecentDelays'].values.tolist()) #extracting the column into a new dataframe

length_cols = df_delays.shape[1] 

col_list = [] #initialize a list
col_dict ={} #initialize a dictionary

for i in range(length_cols):
    Key = df_delays.columns[i]
    Value = "Delay" + "_" + str(i+1)
    col_dict[Key] = Value #dictionary with index corresponding to the new column names to be used

df_delays.rename(columns=col_dict,inplace=True) #rename the new column names in the dataframe df_delays


for i in range(len(col_dict)):# the original dataframe with additonal columns generated from RecentDelays
    df[[col_dict[i]]]= df_delays[[col_dict[i]]] 

df.drop('RecentDelays',axis=1,inplace=True)#Deleting the RecentDelays column from the original dataframe
print ('\n')
print(df)

   FlightNumber              Airline      From         To  Delay_1  Delay_2  \
0             5               KLM(!)    London      Paris     23.0     47.0
1            15    <Air France> (12)    Madrid      Milan      NaN      NaN
2         10065  (British Airways. )    London  Stockholm     24.0     43.0
3         10075       12. Air France  Budapest      Paris     13.0      NaN
4         10085          "Swiss Air"  Brussels     London     67.0     32.0

   Delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN